{% load static i18n %}

<!-- Footer
		============================================= -->
<footer id="footer" class="bg-color dark">
    <div class="container">

        <!-- Footer Widgets
				============================================= -->
        <div class="footer-widgets-wrap">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-12">
                    <a href="{% url 'home' %}"><img class="lazy" src="{% static 'images/logo-dark@2x.png' %}" alt="Logo Footer" height="80"></a>
                    <p class="text-white-50">
                        Henroposky Engineering Company Limited is a technology and service based establishment with
                        exceptional expertise in planning, design, construction and maintenance of wide range of Civil,
                        electrical and mechanical services. We also offer technical support services in the oil and gas
                        downstream sector. 
                    </p>
                </div>

                <!-- <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget clearfix">

                        <h3 class="ls0 h5 mb-4">Features</h3>

                        <ul class="list-unstyled iconlist ml-0">
                            <li class="mb-2"><a href="#" class="text-white-50">All Poses</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Instructors</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Gallery</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Price</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">FAQs</a></li>
                        </ul>

                    </div>
                </div> -->
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget clearfix">

                        <h3 class="ls0 h5 mb-4">Connect With Us</h3>

                        <ul class="list-unstyled iconlist ml-0">
                            <li class="mb-2"><a href="#" class="text-white-50">Facebook</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Instagram</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Twitter</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">Email</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="widget clearfix">

                        <h3 class="ls0 h5 mb-4">Open Hours</h3>

                        <ul class="list-unstyled iconlist ml-0">
                            <li class="mb-2"><a href="#" class="text-white-50">Monday - Friday</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">8:30 am - 17:00 pm</a></li>
                            <hr>
                            <li class="mb-2"><a href="#" class="text-white-50">Saturday</a></li>
                            <li class="mb-2"><a href="#" class="text-white-50">8:30 am - 13:00 pm</a></li>
                            <hr>
                            <li class="mb-2"><a href="#" class="text-white-50">Sunday Closed</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <div class="widget clearfix">

                        <h3 class="ls0 h5 mb-4">Head Office:</h3>

                        <div>
                            <address class="font-primary">
                                No 5 Peace Drive off <br>
                                Rumuewara Road, <br>
                                Elimgbu, Port Harcourt, <br>
                                Rivers State, Nigeria. 
                            </address>
                            <h5 class="mb-3">
                                <a href="tel:+2348175103254" class="text-white">
                                    <i class="icon-call mr-1 position-relative" style="font-size: 22px; top:2px;"></i>
                                    +(234) 817 510 3254
                                </a>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Copyrights
			============================================= -->
    <div id="copyrights" class="center dark">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <p class="mb-2 text-white-50">Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.</p>
                    <div class="copyright-links text-white-50"><a href="#" class="text-white-50">Terms of Use</a> / <a
                            href="#" class="text-white-50">Privacy Policy</a></div>
                </div>
            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->