{% load static %}

<!-- Slider
		============================================= -->
<section id="slider" class="slider-element swiper_wrapper min-vh-100" data-effect="fade">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide hero-diagonal dark bg-color"
                    style="background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 0.1)), url('{% static "demos/yoga/images/slider/hero-1.jpg" %}') no-repeat center right / auto 100%;">
                    <div class="container" style="z-index: 2;">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-md-6">
                                <div class="heading-block border-bottom-0 bottommargin-sm">
                                    <h5 class="text-uppercase ls4 font-weight-light mb-2 text-white-50"
                                        data-animate="fadeInUp" data-delay="100">Concrete &amp; Structural Works</h5>
                                    <h2 class="font-weight-bold nott ls0" data-animate="fadeInUp" data-delay="200"
                                        style="font-size: 46px;">Civil Enginerring and Construction</h2>
                                </div>
                                <p class="mb-5 font-weight-normal lead" data-animate="fadeInUp" data-delay="400" 
                                    style="line-height: 1.6;">A completed HP Engineering Head Office along East/West Road, Nonwa Tia LGA, Rivers State.</p>
                                <a href="#" data-scrollto="#section-about" data-offset="70" data-animate="fadeInUp"
                                    data-delay="600"
                                    class="btn rounded bg-white color text-uppercase font-weight-semibold ls1 py-3 px-4">Get
                                    Quotation <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="swiper-slide hero-diagonal dark bg-color"
                    style="background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 0.1)), url('{% static "demos/yoga/images/slider/hero-2.jpg" %}') no-repeat bottom right / auto 100%;">
                    <div class="container" style="z-index: 2;">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-md-6">
                                <div class="heading-block border-bottom-0 bottommargin-sm">
                                    <h5 class="text-uppercase ls4 font-weight-light mb-2 text-white-50"
                                        data-animate="fadeInUp" data-delay="100">Machine Installation</h5>
                                    <h2 class="font-weight-bold nott ls0" data-animate="fadeInUp" data-delay="200"
                                        style="font-size: 42px;">Equipment & Machine Installation.</h2>
                                </div>
                                <p class="mb-5 font-weight-normal lead" data-animate="fadeInUp" data-delay="400"
                                    style="line-height: 1.6;">
                                    Design and Installation of Auto Sampler Shed-NPDC-Kokori.
                                </p>
                                <a href="#" data-scrollto="#section-about" data-offset="70" data-animate="fadeInUp"
                                    data-delay="600"
                                    class="btn rounded bg-white color text-uppercase font-weight-semibold ls1 py-3 px-4">Get
                                    Quotation <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Slide 3 -->
                <div class="swiper-slide hero-diagonal dark bg-color"
                    style="background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 0.1)), url('{% static "demos/yoga/images/slider/hero-4.jpg" %}') no-repeat bottom right / auto 100%;">
                    <div class="container" style="z-index: 2;">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-md-6">
                                <div class="heading-block border-bottom-0 bottommargin-sm">
                                    <h5 class="text-uppercase ls4 font-weight-light mb-2 text-white-50"
                                        data-animate="fadeInUp" data-delay="100">Road Construction</h5>
                                    <h2 class="font-weight-bold nott ls0" data-animate="fadeInUp" data-delay="200"
                                        style="font-size: 42px;">Creation of Roads and Highways.</h2>
                                </div>
                                <p class="mb-5 font-weight-normal lead" data-animate="fadeInUp" data-delay="400"
                                    style="line-height: 1.6;">
                                    Cutting of Hill to Get Road Formation Level-NDDC Ikot Abasi
                                </p>
                                <a href="#" data-scrollto="#section-about" data-offset="70" data-animate="fadeInUp"
                                    data-delay="600"
                                    class="btn rounded bg-white color text-uppercase font-weight-semibold ls1 py-3 px-4">Get
                                    Quotation <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="swiper-slide hero-diagonal dark bg-color"
                    style="background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 0.1)), url('{% static "demos/yoga/images/slider/hero-3.jpg" %}') no-repeat bottom right / auto 100%;">
                    <div class="container" style="z-index: 2;">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-md-6">
                                <div class="heading-block border-bottom-0 bottommargin-sm">
                                    <h5 class="text-uppercase ls4 font-weight-light mb-2 text-white-50"
                                        data-animate="fadeInUp" data-delay="100">Asphalt Compacting</h5>
                                    <h2 class="font-weight-bold nott ls0" data-animate="fadeInUp" data-delay="200"
                                        style="font-size: 42px;">Compacting Hot Rolled Asphalt</h2>
                                </div>
                                <p class="mb-5 font-weight-normal lead" data-animate="fadeInUp" data-delay="400"
                                    style="line-height: 1.6;">
                                    Compaction of Hot Rolled Asphalt-NDDC-Ndiya Ikot Ukap
                                </p>
                                <a href="#" data-scrollto="#section-about" data-offset="70" data-animate="fadeInUp"
                                    data-delay="600"
                                    class="btn rounded bg-white color text-uppercase font-weight-semibold ls1 py-3 px-4">Get
                                    Quotation <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number">
                <div class="slide-number-current"></div><span>/</span>
                <div class="slide-number-total"></div>
            </div>
        </div>

    </div>
</section>