{% load static i18n %}

<script async src="{% static 'js/jquery.js' %}"></script>
<script async src="{% static 'js/plugins.min.js' %}"></script>
<!-- <script async src="{% static 'js/plugins.carousel.js' %}"></script> -->
<!-- <script async src="{% static 'js/plugins.countdown.js' %}"></script> -->

<!-- For Countdown -->
<script async src="{% static 'js/components/moment.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script async src="{% static 'js/functions.js' %}"></script>

<script async src="{% static 'js/project.js' %}"></script>
<script async src="{% static 'js/iziToast.min.js' %}"></script>
